@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#passenger {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  padding-top: 12px;
  margin-top: 12px;
}

#navbar {
  background-color: #42A5F5;
  width: 100%;
}

#navbar #add_button {
  background-color: #FFFFFF;
  width: 48px;
  height: 48px;
  stroke: #42A5F5;
  top: auto;
  bottom: 16px;
}

#titles {
  color: #42A5F5; 
  font-family: 'Bebas Neue';
  font-size: 30px;
  margin-top: 80px;
}

#trip_card {
  padding-top: 8px;
  padding-bottom: 8px;
}

#trip_card img {
  border-radius: 10px;
  height: 140px;
  object-fit: cover;
}

#chat_card {
  padding-top: 8px;
  padding-bottom: 8px;
}

#chat_card img {
  border-radius: 10px;
  width: 140px;
  /*height: 140px;*/
  left: 20px;
}

.MuiImageListItemBar-title {
  color: #0091EA;
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  padding-left: 8px;
  padding-bottom: 4px;
}

.MuiImageListItemBar-subtitle {
  color: #656565;
  font-family: 'Lato';
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  padding-left: 8px;
  padding-bottom: 4px;
}

.MuiImageListItemBar-actionIcon{
  font-family: 'Lato';
  font-weight: bold;
  font-size: 0.5rem;
  color: black;
  padding-right: 8px;
  padding-top: 8px;
  margin-top: 8px;
}


/* FORM */  
h1, form {
  width: 92%;
  margin-left: 4%;
}

.form_field {
  background-color: #EFEFEF;
  width: 100%;
  height: 52px;
  border-radius: 10px; 
  margin-top: 8px;
  margin-bottom: 8px;
}

#datepickers {
  display: inline-flex;
}

.react-datepicker__input-container input {
  width: 100%;
  
  height: 52px;
}

#submit_btn {
  background: #0091EA;
  width: 246px;
  height: 48px;
  border-radius: 65px;

  font-family: 'Bebas Neue';
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  padding-top: 8px;
}

img.info {
  margin-top: 30px;
  width: 100%;
  height: 256px;
  object-fit: cover;
  z-index: -1;
}


div.info {
  font-family: 'Bebas Neue';
  font-size: 45px;
  color: #42A5F5;
  align-content: center;
}

p.info {
font-family: 'Lato';
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #000000;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
