.top {
    position: absolute;
    height: 79px;
    left: 0px;
    top: 59px;
}


#topchat_card {
    width: 414px;
    height: 79px;
    left: 0px;
    top: 59px;
    border-radius: 20px;
    object-fit: cover;
  }
  
#topchat_card.img {
    border-radius: 20px;
    width: 414px;
    height: 79px;
    left: 0px;
    top: 59px;
    object-fit: cover;
}

#message{
    position: absolute;
    width: 246px;
    height: 38px;
    bottom: 10%;
    right: 20px;

    background: #EFEFEF;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#message1{
    position: absolute;
    width: 246px;
    height: 70px;
    bottom: 40%;
    right: 20px;

    background: #EFEFEF;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#message2{
    position: absolute;
    width: 246px;
    height: 70px;
    bottom: 30%;
    left: 20px;

    background: #fafbfdfa;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#message3{
    position: absolute;
    width: 246px;
    height: 70px;
    bottom: 20%;
    left: 20px;

    background: #fafbfdfa;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.name {
    position: absolute;
    width: 91px;
    height: 27px;
    left: 161px;

    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;

    color: #ffffff;
}